section.benefits
    h2.benefits_heading Čo u nás nájdete?
    ul.benefits_grid
        li.benefits_item
            +svg_img('cards', '', 'benefits_icon', '0 0 80.678 62.117')
            h3.benefits_title Platby kartou
            p.benefits_text Nemusíte rozmýšľať, či máte dosť hotovosti. U nás zaplatíte jednoducho kartu.
        li.benefits_item
            +svg_img('calendar', '', 'benefits_icon', '0 0 66.524 67.52')
            h3.benefits_title Objednávanie online
            p.benefits_text Objednajte sa z pohodlia domova 24 hodín denne 7 dní v týždni.
        li.benefits_item
            +svg_img('graphs', '', 'benefits_icon', '0 0 81.721 81.721')
            h3.benefits_title Odborný personál
            p.benefits_text Dbáme na kvalitu. Naši zamestnanci sú vyštudovaní profesionáli.
        li.benefits_item
            +svg_img('chat', '', 'benefits_icon', '0 0 88.274 64.901')
            h3.benefits_title Sms notifikácie
            p.benefits_text Nemusíte si pamätať kedy máte termín. Pripomenieme Vám.
        li.benefits_item
            +svg_img('tag', '', 'benefits_icon', '0 0 73.404 82.565')
            h3.benefits_title Vernostný systém
            p.benefits_text Odmeňujeme našich verných. Využite aj vy špeciálne zľavy a výhody.
        li.benefits_item
            +svg_img('person', '', 'benefits_icon', '0 0 71.436 71.857')
            h3.benefits_title Poradenstvo
            p.benefits_text Facebook, Blog, Eshop. Staráme sa o Vás.
