section.cover-slider.js-cover_slider
    .cover-slider_inner
        .cover-slider_slides
            .cover-slider_slide
                .cover-slider_bg-container
                    +img('cover1.jpg', 'cover-slider_bg')
                .cover-slider_text
                    h1 Nekonečný relax a krása vo Vita Verde
                    p Objednajte sa na ľubovolný počet ošetrení a zaplatíte len raz. Bez starostí a jednoducho.
                    button.btn.btn__primary Objednať
            .cover-slider_slide
                .cover-slider_bg-container
                    +img('outside.jpg', 'cover-slider_bg')
                .cover-slider_text
                    h2 Darčekové poukážky
                    p Ak k nám chodíte pravidelne, vďaka premanentkám ušetríte 20 - 30%. A to prospeje nie len Vášmu zdraviu ale aj Vašej peňaženke.
                    button.btn.btn__primary Objednať
                +img('permanentka.png', 'cover-slider_img')
        .cover-slider_nav
            .cover-slider_indicator
                span
            .cover-slider_indicator
                span

