section.c-reviews-slider.js-reviews-slider
    .c-reviews-slider_inner
        .c-reviews-slider_slides
            .c-reviews-slider_slide
                .c-reviews-slider_slide-content
                    q.c-reviews-slider_quote Personál príjemný. Max. spokojnosť so službami, prístupom aj s prostredím. Odporúčam.
                    .c-reviews-slider_author Majka (Facebook)
                    .c-reviews-slider_corner.c-reviews-slider_corner__left
                    .c-reviews-slider_corner.c-reviews-slider_corner__right
            .c-reviews-slider_slide
                .c-reviews-slider_slide-content
                    q.c-reviews-slider_quote Ďakujem, bola som veľmi spokojná. Už sa teším na ďalšiu návštevu Vita Verde.
                    .c-reviews-slider_author Silvia (Google)
                    .c-reviews-slider_corner.c-reviews-slider_corner__left
                    .c-reviews-slider_corner.c-reviews-slider_corner__right
            .c-reviews-slider_slide
                .c-reviews-slider_slide-content
                    q.c-reviews-slider_quote Určite sa vrátim, krásne pohodové miesto, milí ľudia profesionáli čo iné si človek môže priať?
                    .c-reviews-slider_author Andrea (Web)
                    .c-reviews-slider_corner.c-reviews-slider_corner__left
                    .c-reviews-slider_corner.c-reviews-slider_corner__right
            .c-reviews-slider_slide
                .c-reviews-slider_slide-content
                    q.c-reviews-slider_quote Som veľmi spokojná určite odporúčam či kozmetiku tak aj masáž.
                    .c-reviews-slider_author Michaela (Web)
                    .c-reviews-slider_corner.c-reviews-slider_corner__left
                    .c-reviews-slider_corner.c-reviews-slider_corner__right
        .c-reviews-slider_nav
            .c-reviews-slider_indicator
            .c-reviews-slider_indicator
            .c-reviews-slider_indicator
            .c-reviews-slider_indicator

