section.services
    a.service.js-service(href='#')
        .service_img-wrapper
            +img('massage2.jpg', 'service_img')
        .service_text
            h2.service_title(data-text='Masáže') Masáže
            p.service_description Masáž je vhodná nielen pre človeka so zdravotnými ťažkosťami, ale tiež pre ľudí, ktorí problémy zatiaľ nepociťujú. Masáž je veľmi dobrá pre ľudí, ktorí potrebujú uniknúť od každodenného stresu a hľadajú uvoľnenie a relax v príjemnom prostredí.
            .service_btn.btn.btn__secondary
                span Zistiť viac
                .service_arrow
    a.service.js-service.service__right(href='#')
        .service_img-wrapper
            +img('kozmetika.jpg', 'service_img')
        .service_text
            h2.service_title(data-text='Kozmetika') Kozmetika
            p.service_description Krásna pleť znamená zdravá pleť. Odráža výraz našej tváre. Starostlivosť o pokožku nie je luxusom, ale nevyhnutnosťou. S radom odborníkov prinášame patentované technológie bez skalpela a bolesti. Kozmetické terapie s relaxačným a uvoľňujúcim zážitkom. Vyberáme pre Vás ošetrenia, ktoré splnia, čo sľúbia.
            .service_btn
            .service_btn.btn.btn__secondary
                span Zistiť viac
                .service_arrow
    a.service.js-service(href='#')
        .service_img-wrapper
            +img('reflexna.jpg', 'service_img')
        .service_text
            h2.service_title(data-text='Reflexná terapia') Reflexná terapia
            p.service_description Reflexná terapia, – reflexológia, – je spôsob diagnostiky a liečby zdravotných ťažkostí prostredníctvom stimulácie alebo masáže presne určených bodov a oblastí na povrchu ľudského tela. Vychádza z tisícročiami overených skúseností mnohých národov.
            .service_btn
            .service_btn.btn.btn__secondary
                span Zistiť viac
                .service_arrow
